{% extends "lajoutgeneral.html.twig" %}

{% block contenu %}
    <h1> Le premier Accueil </h1>
    <lo>
        <li><a href="{{ path('app_accueil_liste') }}"> Fonctionnalitées De Condidat </a> </li>
        <li><a href="{{ path('app_accueil_condidat') }}"> Fonctionnalitées De Litse </a> </li>
    </lo>

{% endblock %}
